//styling for the nav bar
@use "variables";

nav{
  display: flex;
  align-items: center;

  .nav_stacked{
    display: flex;
    align-items: center;
  }
}

nav {
  height: 120px;
  width: 100%;
  background-color: variables.$main-color;
  color: variables.$text-color;
  padding-left: 1.5em;
  padding-right: 1.5em;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.nav_stacked {
  flex-direction: column;
  flex-wrap: wrap;
  height: 75%;
  justify-content: space-evenly;
}

.hover{
  color: variables.$highlight-color;
  transition: .2s ease;
  transform: scale(1.5);
}

.nohover{
  color:  variables.$no-highlight-color;
  transition: .2s ease;
  transform: scale(1);
}