//Varialbes to be used for colors and fonts

//colors
$main-color: #4056A1;
$accent-color-1: #afcbff;
$highlight-color: #6dffbb;
$no-highlight-color: white;
$border-color: #545149;
$background-color: white;
$text-color: white;
$some-nav-color: #ffff;
$error-color: #f77373;

//fonts
$main-font: "Source Sans Pro", sans-serif; 
$logo-font: "Bungee", sans-serif;
