#scrollButton {
  display: none; 
  position: fixed; 
  bottom: 50px; 
  right: 50px; 
  z-index: 5; 
  color: white; 
  padding: 15px; 
  border-radius: 100%; 
  font-size: 18px; 
  background-color: #4056A1;
  transition: transform, ease, .25s;
}

#scrollButton:hover{
  transform: scale(1.2)
}
